
.optiontable {
  background-color: black;
  border: 3px solid lightgray;
  font-family: monospace, monospace;
  color: white;
  padding: 1px;
  margin-bottom: 5px;
}

.soundlawtable {
  background-color: lightgray;
  border: 3px solid gray;
  font-family: monospace;
  color: black;
  font-size: 110%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
}

.soundlawtable tr {
  border: 1px solid black;
}

.soundlawtable td {
  border: 1px solid black;
  padding: 5px;
}

.soundlawtable th {
  border: 1px solid black;
  padding: 5px;

}


.selector {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  font-weight: bold;
  font-family: monospace, monospace;
  padding: 1px;
  margin: 1px;
}
.tabbed { 
  padding: 20px;
  margin: 20px;
  background-color:lightyellow;
}
.sound {
  width: 20px;
  background-color: lightgray;
  border: 1px solid gray;
  display: inherit;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.gap {
  width: 5px;
  background-color: white;
  border: 1px solid gray;
  display: inherit;
  margin: 5px;
  padding: 5px;
  font-weight: normal;
  color: lightgray;
}

.marker {
  width: 5px;
  background-color: gray;
  border: 1px solid black;
  display: inherit;
  margin: 5px;
  padding: 5px;
  font-weight: normal;
  color: lightyellow;
}

.unifiedsound {
  background-color: lightblue;
  border: 1px dashed black;
  border-radius: 10px;
  display: inherit;
  padding: 2px;
  margin: 5px;
}

.basictable {
  border: 2px solid black;
  background-color: lightyellow;
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.baseframe {
  padding: 5px;
  margin: 5px;
  max-height: 500px;
  overflow: scroll;
}

.basictable td {
  background-color: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  max-width: 300px;
  overflow: hidden;
}

.basictable th {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

.basictable tr {
  border: 1px solid gray;
  background-color: lightyellow;
}

.inputtext {
  font-family: monospace, monospace;
  padding: 5px;
  font-weight: bold;
}

.mybutton {
  background-color: black;
  border: 3px solid lightgray;
  color: white;
  font-weight: bold;
  font-family: monospace, monospace;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;

}

.ok {
  width: 75px;
  text-align: center;
  left: 0px;
  right: 0px;
}

.tier {
  color: crimson;
  margin: 2px;
}

.pipe {
  color: black;
  width: 1px;
  display: inline;
}

.lawidx {
  color: crimson;
  margin: 2px;
  cursor: pointer;
}

.fake_alert {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	float: left;
	text-align:center;
}
.message {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top:30%;
  left:0;
  right:0;
  background-color: lightyellow;
  border: 2px solid white;
  text-align:center;
  min-width:50px;
  max-width:50%;
  width: auto;
  float: left;
  border-radius:5px;
  padding: 10px;
}

