.sound {
  width: 20px;
  background-color: lightgray;
  border: 1px solid gray;
  display: table-cell;
}

.basictable {
  border: 2px solid black;
  background-color: lightyellow;
}


.baseframe {
  padding: 5px;
}
.basictable td {
  background-color: lightyellow;
  padding: 1px;
  border: 1px solid black;
}

.basictable th {
  background-color: lightyellow;
  padding: 1px;
  border: 1px solid black;
}

.basictable tr {
  border: 1px solid gray;
}

.inputtext {
  font-family: monospace, monospace;
  padding: 5px;
  font-weight: bold;
}

.mybutton {
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: monospace, monospace;
  padding: 5px;
}
